<section class="feature-section">
  <div class="container">
    <div class="swiper feature-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem sint quam similique mollitia! At vitae ratione nobis
          debitis eligendi aliquid quia, omnis amet adipisci officiis nam
          pariatur veritatis ex consectetur!
        </li>
        <li class="swiper-slide">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ad
          sapiente iste, minima pariatur vero, culpa excepturi eius obcaecati
          labore incidunt! Dolorem mollitia ut odio eaque sed optio
          necessitatibus voluptate?
        </li>
        <li class="swiper-slide">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          perferendis consequuntur tempora recusandae optio. Ducimus quibusdam
          error quidem, placeat atque quas. Ea adipisci ex laudantium nisi
          accusamus error voluptas illo!
        </li>
        ...
      </ul>
      <div class="swiper-scrollbar"></div>
      <div class="feature-swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
