<section class="feature-section">
  <div class="container">
    <div class="swiper feature-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
        <li class="swiper-slide feature-swiper-slide">
          <i class="bx bx-message-rounded-dots bx-message bx-lg"></i>
          <h3 class="feature-title">Ефективна комунікація</h3>
          <p class="feature-slide-text">
            Майтер спілкується з вами щодо вимог до виробу, детально інформує та
            радить, а також відповідає на будь-які можливі запитання
          </p>
        </li>
      </ul>
      <div class="swiper-scrollbar"></div>
      <div class="feature-swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
