<header class="header">
  <div class="container">
    <nav class="flex nav-container">
      <!-- <a class="nav-logo" href="/"><img src="../img/logo.jpg" alt="logo" width="50" height="50" /></a> -->
      <ul class="flex nav-list">
        <li><a class="nav-link" href="home.html">Домашня сторінка</a></li>
        <li><a class="nav-link"  href="shop.html">Магазин </a></li>
        <li><a class="nav-link"  href="about.html">Про нас</a></li>
        <li><a class="nav-link"  href="contacts.html">Контакти</a></li>
        <li><a class="shop-link"  href="cart.html"> <i class="fa-solid fa-bag-shopping"></i></li></a>
      </ul>
    </nav>
  </div>
</header>
