:root {
  font-family: 'Inter', sans-serif;

  /* COLOR PALETTE 1 */
  --primary-color: #403234;
  /* --primary-background-color: #e2c2b3; */
  --primary-background-color: #f5eae5;
  --accent-color: #cc5500;
  --primary-background-color-transparent: rgba(226, 194, 179, 0.5);
  --primary-border-color: #8c8c8c;
  --primary-font-color: #beb9b9;
  --card-box-shadow: -5px 5px 18px 0 rgba(64, 50, 52, 0.5);
  --card-smaller-box-shadow: -5px 5px 5px 0 rgba(64, 50, 52, 0.5);

  /* COLOR PALETTE 2 */
  /* --primary-color: #000000;
  --primary-background-color: #beb9b9;
  --primary-font-color: #beb9b9;
  --card-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --accent-color: #ffffff; */

  /* BORDER RADIUS */
  --card-border-radius: 5px;
  --input-border-radius: 30px;

  /* FONT-SIZES */
  --small-font-size: 14px;
  --normal-font-size: 16px;
  --medium-font-size: 18px;

  /* ICON SIZES */
  --standard-icon-size: 1.5rem;
  --big-icon-size: 2rem;
  --section-padding: 5rem;

  /* PADDINGS */

  --section-padding: 3rem;

  /* DISTANCES */
  --standard-distance: 2rem;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.07em;
  color: var(--primary-color);
}

.container {
  max-width: 95%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

h1 {
  font-size: 35px;
  text-transform: capitalize;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 60px;
  }
}

section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

p {
  font-size: 14px;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 16px;
  }
}

.card-title {
  font-size: 25px;
  text-transform: uppercase;
}
