.header {
  background-color: var(--primary-color);
}

.nav-container {
  justify-content: space-between;
  position: relative; /* Make sure the container is a positioning context */
}

.nav-logo {
  border-radius: 50px;
  overflow: hidden;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-link,
.shop-link {
  position: relative;
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: color 250ms linear, transform 250ms linear;
  position: relative; /* Make sure the link is a positioning context */
}

.nav-link:hover,
.shop-link:hover {
  color: var(--accent-color);
  transform: scale(1.05);
}

.nav-link::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  left: 50%;
  bottom: 2rem;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.nav-link:active,
.shop-link:active {
  color: var(--accent-color);
  transform: scale(1.05);
}

.fa-bag-shopping {
  font-size: var(--standard-icon-size);
}
