.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--primary-color);
}

.nav-container {
  justify-content: space-between;
}

.nav-logo {
  border-radius: 50px;
  overflow: hidden;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.fa-bag-shopping {
  font-size: var(--standard-icon-size);
}
